.controls {
  display: flex;
  padding: 0;

  & > div.col {
    padding-right: 5px;
    padding-left: 5px;
  }

  label {
    margin-right: 3px;
    margin-bottom: 0;
    font-size: 12px;
  }

  div.react-datepicker-wrapper input {
    width: 100px;
  }

  button.btn-query {
    min-width: 90px;
  }

  button.btn-toggle {
    min-width: 110px;
  }
}
